<?xml version="1.0"?>
<model>
  <name>Ripe rigid strawberry, camera-scale textured shaped visual v3</name>
  <version>1.0</version>
  <sdf version="1.10">model.sdf</sdf>
  <author><name>Strawberry URP Team</name></author>
  <description>Asset-ablation C v3: mesh-local camera-scale albedo, strawberry-shaped mesh, radial calyx and short stem.</description>
</model>
